body {
  min-height: 100vh;
  background-size: cover;
  width: 100%;
  font-family: serif;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  overflow-x: hidden;
  contain: layout;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.blinkBlackBackgroung {
  background-color: #000000;
}

nav .top-bar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #000000;
  box-shadow: rgba(228, 201, 68, 0.4);
}

nav a .logo {
  width: 130%;
  height: 100%;
  margin: 20% 0 0 0%;
  animation: rotateLogo 4s ease-in-out alternate-reverse infinite;
}

nav li,
navpsach li {
  height: 50px;
}

ul .home:hover,
ul .product:hover,
ul .service:hover,
ul .about:hover,
ul .contact:hover,
ul .help:hover {
  opacity: 0.8;
}

ul .home:active,
ul .product:active,
ul .service:active,
ul .about:active,
ul .contact:active,
ul .help:active {
  opacity: 1;
  font-style: italic;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 220px;
  z-index: 999;
  background-color: rgba(228, 201, 68, 0.4);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: transform 5s ease-in-out;
}

.sidebar li {
  width: 100%;
  list-style-type: none;
}

.sidebar a {
  width: 35%;
}

.animated-text {
  color: #e4c844ff;
  transform: translateY(auto 0);
  font-size: 1.8rem;
  text-shadow: 3px 3px 5px rgb(2, 7, 39);
  line-height: normal;
}

.menuicon {
  filter: brightness(0) invert(1);
  display: none;
}

.closeicon {
  filter: brightness(0) invert(1);
}

nav .home:hover,
nav .product:hover,
nav .service:hover,
nav .about:hover,
nav .contact:hover,
nav .help:hover,
navpsach.home:hover,
navpsach.product:hover,
navpsach.service:hover,
navpsach.about:hover,
navpsach.contact:hover,
navpsach.help:hover {
  background-color: rgba(228, 201, 68, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 0.5rem;
}

@media (max-width: 330px) {
  nav .top-bar {
    display: none;
  }
  .sidebar {
    width: 100%;
  }
}

/*Utility classes
.animate {
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.animate--infinite {
  animation-iteration-count: infinite;
}

.animate--delay {
  animation-delay: 1s;
}

.animate--fast {
  animation-duration: 0.6s;
}

.animate--slow {
  animation-duration: 3s;
}*/

/*Animations*/

.it-easier {
  margin: 0 auto;
  width: 75%;
  animation: slideInRight 2s 0.5s ease both;
  display: block;
}

.make-it-easier {
  animation: fadeInMakeIt 2s ease infinite;
}

@keyframes fadeInMakeIt {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes rotateLogo {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.fybacast-img {
  animation: fadeInFybacast 2s ease infinite;
  width: 75%;
  margin: 0 auto;
  display: block;
}

@keyframes fadeInFybacast {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.fybacast {
  animation: fadeIn 10s ease-in-out;
}

.fybacast .fybacast-img:hover {
  opacity: 0.8;
}

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.txt {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(2, 7, 39, 1);
}

.world-image {
  background: url(images/world.png);
  background-size: cover;
  max-width: 100%;
  min-height: auto;
  font-size: 6vw;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6%;
}

.world-image .column-dots {
  background-image: url(images/columnDots.png);
  width: 59px;
  height: 55px;
  margin-left: auto;
}

@media screen and (min-width: 1000px) {
  .two-images-BW-Services {
    left: 5%;
  }
}

@media screen and (min-width: 768px) {
  .two-images-BW-Services {
    max-width: 40%;
    float: left;
  }
  .img-info-1 {
    clear: right;
    max-width: 50%;
    margin: 10px auto;
    margin-top: 1%;
  }
  .ITNetworkInfrastructureSecondPix,
  .CloudComputingFourthPix {
    min-width: 50%;
    clear: right;
  }
  .img-info-2 {
    max-width: 44%;
    float: left;
    margin-top: 5%;
  }
  .GraphicDesignThirdPix,
  .CyberSecurityFifthPix {
    min-width: 50%;
    float: left;
  }
  .img-info-3 {
    clear: left;
    max-width: 48%;
  }
  .img-info-4 {
    float: right;
    min-width: 45%;
    padding: 4px;
  }
  .wrapper3 {
    display: flex;
  }
  .dots {
    margin-top: 15px;
  }
  .ML {
    min-width: 30%;
  }
  .deepLearning {
    min-width: 20%;
  }
  .rotating-string,
  .bg-wheel-three-images,
  .AI {
    min-width: 40%;
  }
  .AI-ML-DL-images {
    float: right;
    margin-left: 3px;
    max-width: 48%;
    padding: 2px;
  }
}

.GraphicDesignThirdPix,
.CyberSecurityFifthPix {
  width: 380px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.ITNetworkInfrastructureSecondPix,
.CloudComputingFourthPix {
  width: 380px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* First rectangle container */

.wrapper2 {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  padding: 1%;
  display: block;
}

.wrapper3 {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  padding: 1%;
}

/* Text container */
.img-info-2 {
  width: 100%;
}

.img-info-4 {
  width: 100%;
  color: white;
  margin: 0.5rem;
  padding: 2px;
}

/* Image styles */
.ITNetworkInfrastructureSecondPix,
.GraphicDesignThirdPix,
.CloudComputingFourthPix,
.CyberSecurityFifthPix {
  max-width: 100%;
  height: auto;
}

.txt,
.contact-info,
.txt2,
.testimony,
.testimony-position,
.two-images-BW-Services,
.ITNetworkInfrastructureSecondPix,
.GraphicDesignThirdPix,
.CloudComputingFourthPix,
.CyberSecurityFifthPix,
.AI-ML-DL-images,
.subHeading,
.contactInfo {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s, transform 2s;
}

.txt.visible,
.contact-info.visible,
.txt2.visible,
.testimony.visible,
.testimony-position.visible,
.two-images-BW-Services.visible,
.ITNetworkInfrastructureSecondPix.visible,
.GraphicDesignThirdPix.visible,
.CloudComputingFourthPix.visible,
.CyberSecurityFifthPix.visible,
.AI-ML-DL-images.visible,
.subHeading.visible,
.contactInfo.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .top-bar .home,
  .top-bar .product,
  .top-bar .service,
  .top-bar .about,
  .top-bar .contact,
  .top-bar .help {
    display: none;
  }
  .menuicon {
    display: block;
  }
}

h4 {
  font-size: 6vw;
  color: #e4c844ff;
  padding-top: 1%;
  line-height: 90%;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(2, 7, 39);
}

.btn {
  background-image: linear-gradient(
    45deg,
    rgba(123, 156, 188, 1) 5%,
    #020727 90%
  );
  color: white;
  border: none;
  padding: 3% 9%;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: lighter;
  font-size: 24px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 3% auto;
}

.btn:hover,
.ctn:hover {
  transform: translateY(-10px);
  background-color: black;
}

.btn:active,
.ctn:active {
  opacity: 0.5;
  color: gold;
  transition-duration: 2s;
  box-shadow: none;
  letter-spacing: 0.1rem;
}

.ctn {
  background-image: linear-gradient(
    45deg,
    rgba(123, 156, 188, 1) 5%,
    #020727 90%
  );
  position: relative;
  color: rgb(255, 255, 255);
  border: none;
  padding: 3% 7%;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: lighter;
  font-size: 24px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 0% auto 5%;
  top: 40px;
  display: flex;
}

.rectBG {
  background: url(images/rectBG.png);
}

.first-rect-container {
  padding: 12px 12px 0px 12px;
}

.first-rect-container1,
.first-rect-container2 {
  padding: 12px 24px 0px 24px;
}

.top-layer-overlay,
.top-layer-overlay1,
.top-layer-overlay2 {
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(30px);
  transition: background 0.2s ease-in-out;
  background-position: center;
}

.background-gradient-1 {
  background-color: rgb(83, 96, 122);
  backdrop-filter: blur(20px);
  opacity: 1;
  border-radius: 12px;

}

.background-gradient-2 {
  background-color: rgb(150, 89, 89);
  backdrop-filter: blur(20px);
  opacity: 1;
  border-radius: 12px;
}

.laptop .laptop-img {
  width: 100%;
  position: absolute;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/*Gallery*/
.gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
}

.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: auto;
  transform: scale(0.96);
  transition: transform 1s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(100%) scale(0.96);
  transition: transform 0.5s ease;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 25px;
  border: 4px solid #e9bc6bff;
}

.image-container:hover img {
  transform: scale(1);
}

.image-container:hover .overlay {
  transform: translateY(0);
  height: 100%;
}

.image-container:hover {
  .animated-text {
    animation: fadeIn 5s ease-in-out;
  }

  .country-animated-slide {
    animation: slideInRight 2s ease 0.1s;
  }

  .order-button-animated-slide {
    animation: slideInBottom 2.5s ease 0.1s;
  }

  .price-animated-slide {
    animation: rotatePrice 2s ease 0.5s forwards;
  }
}

@keyframes rotatePrice {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(-300%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInMakeIt {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/*Contact form*/
.txt2 {
  font-size: 18px;
  color: white;
  padding: 0.4rem 0;
  margin: 0 auto;
}

.contact-info {
  color: #ffffff;
  font-size: 1rem;
  max-width: 50rem;
  margin: 1rem auto;
}

.testimony {
  font-size: 1.5rem;
  margin: 0 auto;
  color: #020727;
}

.testimony-position {
  font-size: 1rem;
  margin: 0 auto;
  color: #bbb;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: calc(100% - 5rem);
  height: 2rem;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #0207279f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  min-width: 100%;
}

textarea {
  height: 8rem;
}

.select-wrapper select {
  height: 2rem;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #0207279f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  min-width: 100%;
}

.top-layer-overlay-contact,
.contactUsContainer {
  padding: 5%;
  text-align: center;
  align-items: center;
  backdrop-filter: blur(20px);
  height: auto;
  border-radius: 4px;
}

.top-layer-overlay-copyright {
  background-color: rgb(83, 96, 122);
  padding: 10px;
  border-radius: 4px 4px 0 0;
  text-align: center;
  font-size: 12px;
  backdrop-filter: blur(20px);
}

.contactInfo {
  font-size: 12px;
}

.paragraphs {
  position: relative;
  height: 50vh;
}

.contact-form {
  display: inline-block;
  align-content: center;
  width: 100%;
}

.paragraph {
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: opacity 1s ease-in-out;
}

@keyframes rotateParagraphs {
  0%,
  15% {
    opacity: 1;
  }
  25%,
  100% {
    opacity: 0;
  }
}

.paragraph:nth-child(1) {
  animation: rotateParagraphs 75s infinite;
}
.paragraph:nth-child(2) {
  animation: rotateParagraphs 75s infinite 15s;
}
.paragraph:nth-child(3) {
  animation: rotateParagraphs 75s infinite 30s;
}
.paragraph:nth-child(4) {
  animation: rotateParagraphs 75s infinite 45s;
}
.paragraph:nth-child(5) {
  animation: rotateParagraphs 75s infinite 60s;
}
.paragraph:nth-child(6) {
  animation: rotateParagraphs 75s infinite 75s;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

@keyframes rotateDots {
  0%,
  20% {
    background-color: rgb(2, 7, 39, 0.7);
  }
  25%,
  100% {
    background-color: #bbb;
  }
}

.dot:nth-child(1) {
  animation: rotateDots 75s infinite;
}
.dot:nth-child(2) {
  animation: rotateDots 75s infinite 15s;
}
.dot:nth-child(3) {
  animation: rotateDots 75s infinite 30s;
}
.dot:nth-child(4) {
  animation: rotateDots 75s infinite 45s;
}
.dot:nth-child(5) {
  animation: rotateDots 75s infinite 60s;
}

/*For three/two concentric images*/
.AI-ML-DL-images {
  width: 300px;
  height: 360px;
  position: relative;
  margin: 0 auto;
}

.two-images-BW-Services {
  max-width: 100%;
  width: 262px;
  height: 262px;
  align-content: center;
  margin: 13px auto;
  padding: 2px;
  position: relative;
  border: solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgb(2, 7, 39);
}

.three-images-AI {
  top: 40%;
  float: right;
  width: 200px;
  height: 200px;
  padding-top: 120px;
  position: relative;
}

.three-images-AI img {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.two-images-BW-Services img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.rotating-string {
  width: 130px;
  height: 130px;
  animation: rotateAntiClockwise 0.7s linear infinite;
}

.AI {
  width: calc(130px + 3rem);
  height: calc(130px + 3rem);
}

.bg-wheel-three-images {
  width: calc(130px + 4rem);
  height: calc(130px + 4rem);
  animation: rotateClockwise 5s linear infinite;
  border: solid;
  box-shadow: 3px 3px 5px rgb(2, 7, 39);
}

.our-services-first-pix {
  width: 240px;
  height: auto;
  max-width: 100%;
}

.bg-wheel-two-images {
  width: calc(240px + 1rem);
  height: calc(240px + 1rem);
  animation: rotateClockwise 5s linear infinite;
  max-width: 100%;
}

.wrapper6-section {
  padding: 0.5rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper1-section {
  padding: 0.5rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.img-info-3 {
  width: 100%;
}

.img-info-1 {
  width: 100%;
  padding: 0 4px;
  align-content: center;
  line-height: 28px;
  align-items: center;
}

.ML {
  position: absolute;
  animation: bounce 5s infinite;
  width: 150px;
  max-width: 100%;
  height: auto;
  border: solid;
  border-radius: 50%;
  left: 47%;
  box-shadow: 3px 3px 5px rgb(2, 7, 39);
}

.deepLearning {
  position: absolute;
  animation: slideInleftDL 5s ease-in-out 0.5s infinite;
  width: 100px;
  top: 35%;
  border: solid 1.5px;
  border-radius: 50%;
  max-width: 100%;
  box-shadow: 3px 3px 5px rgb(2, 7, 39);
}

@keyframes slideInleftDL {
  from {
    transform: translateX(-1800%);
  }
  to {
    transform: translateX(-145%);
  }
}

@keyframes bounce {
  0%,
  100%,
  30% {
    transform: translateX(-10%);
  }

  30% {
    transform: translateX(-70%);
  }

  70% {
    transform: translateY(-20%);
  }
}

@keyframes rotateAntiClockwise {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rotateClockwise {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.psach {
  background-color: #ffffff;
  width: 100%;
  height: 100vb;
  color: #020727;
}

.navpsach {
  background-image: linear-gradient(
    90deg,
    #08148cff,
    #ecab5cff
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-shadow: rgba(228, 201, 68, 0.4);
}

.psachBody {
  background: url(images/g34023others.png) ;
  background-size: cover;
  width: 100%;
  font-size: 8cqmin;
  align-content: center;
  align-items: center;
  text-align: center;
  text-justify: auto;
}

.triangle {
  width: 18rem;
  height: 18rem;
  background-color: #fff;
  margin: 0 auto;
  rotate: 70deg;
  border-radius: 15rem 0 0 0;
  filter: blur(55px);
  opacity: 0.3;
  animation: rotateClockwise 3s infinite;
  animation-direction: normal;
  animation-range: 15deg;
}

.subPage {
  font-weight: bolder;
  color: #fff;
}
/*
---------------------------
<div class="contactInfo">
              <h4>CONTACT</h4>
              <p class=""><span class="email">Email:</span> info@fybacast.com.ng</p>
              <p class=""><span class="address">Address:</span> Plot 673, Bazango Layout, Phase 4, Kubwa, Abuja, Nigeria</p>
              <p class=""><span class="phone">Phone:</span>+2347025890125</p><p class=""><span class="whatsapp">WhatsApp:</span>+2347044419009</p>
              <br>
              <br>
              <br>
            </div>
          </div>
----------------------------     
*/
